<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>Is there a telephone here? / There is a telephone at the store.</string>
		<key>native</key>
		<string>Uqaqsiutiqaqpa maani? / Uqaqsiutiqaqtuq tauqsiġñiaġviŋmi.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>Where is the store? / There is one in front of the hospital. There are other stores down by the waterfront.</string>
		<key>native</key>
		<string>Naami tauqsiġñiaġvik? / Naŋirvium saaŋaniittuq. Atlanik tauqsiġñiaġviqaqtuq unani taġium siñaani.</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>What is it like? Is it red? / Yes, it's red.</string>
		<key>native</key>
		<string>Qanusiuva? Kaviqsaaŋuva? / Ii, kaviqsaaŋuruq.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>Where is the post office? / It's nearby. That's it over there.</string>
		<key>native</key>
		<string>Naami aglaqaġvik? / Qaniŋaniittuq. Iñña.</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>Where's the school? / Up that way, across from the college.</string>
		<key>native</key>
		<string>Naami aglagvik? / Qamma, college-gum akianiittuq.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>Where's the Senior Center? / It's down that way, just this side of the A.C. store.</string>
		<key>native</key>
		<string>Naami utuqqanaaqaġvik? / Unna, A.C.-iim maaniaŋani.</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>Where's the church? / Which church?</string>
		<key>native</key>
		<string>Naami agaayuvik? / Qanusiq agaayuvik?</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>The Friends' Church is located the other side of the Napa store.</string>
		<key>native</key>
		<string>Friends' Church Napa-m iñaniaŋaniittuq.</string>
	</dict>
</dict>
</plist>
