<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>How is the weather?</string>
		<key>native</key>
		<string>Qanuq itpa siḷa?</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>It's foggy.</string>
		<key>native</key>
		<string>Taktuktuq.</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>It's cloudy.</string>
		<key>native</key>
		<string>Nuviyaliqsuq.</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>There's no visibility.</string>
		<key>native</key>
		<string>Niptaitchuq.</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>It's good weather.</string>
		<key>native</key>
		<string>Siḷagiksuq.</string>
	</dict>
	<key>14</key>
	<dict>
		<key>english</key>
		<string>It's bad weather.</string>
		<key>native</key>
		<string>Siḷagiitchuq.</string>
	</dict>
	<key>15</key>
	<dict>
		<key>english</key>
		<string>It's stormy.</string>
		<key>native</key>
		<string>Aŋniqsuq.</string>
	</dict>
	<key>16</key>
	<dict>
		<key>english</key>
		<string>I feel cold.</string>
		<key>native</key>
		<string>Qiunŋuruŋa.</string>
	</dict>
	<key>17</key>
	<dict>
		<key>english</key>
		<string>My feet are cold.</string>
		<key>native</key>
		<string>Isigaiyaġaaŋa.</string>
	</dict>
	<key>18</key>
	<dict>
		<key>english</key>
		<string>My hands are cold.</string>
		<key>native</key>
		<string>Argaiyaġaaŋa.</string>
	</dict>
	<key>19</key>
	<dict>
		<key>english</key>
		<string>My ears are cold.</string>
		<key>native</key>
		<string>Siutaiyaġaaŋa.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>It's raining.</string>
		<key>native</key>
		<string>Sialuktuq.</string>
	</dict>
	<key>20</key>
	<dict>
		<key>english</key>
		<string>When it becomes warmer I will fetch some wood.</string>
		<key>native</key>
		<string>Itraiqpan qiruktaġni.aqtuŋa.</string>
	</dict>
	<key>21</key>
	<dict>
		<key>english</key>
		<string>When the weather becomes nice, I will go out with a dog team.</string>
		<key>native</key>
		<string>Siḷagiksikpan uniaġaġruaqtuŋa.</string>
	</dict>
	<key>22</key>
	<dict>
		<key>english</key>
		<string>When the west wind blows, it's always cold.</string>
		<key>native</key>
		<string>Kanakniqman alappaaŋuruq.</string>
	</dict>
	<key>23</key>
	<dict>
		<key>english</key>
		<string>When the weather becomes warmer, I will go hunt seals.</string>
		<key>native</key>
		<string>Itraipayaaqpan natchiġiaġruaqtuŋa.</string>
	</dict>
	<key>24</key>
	<dict>
		<key>english</key>
		<string>It's time for shee fishing in March.</string>
		<key>native</key>
		<string>Niksigiaġnaqsisuuruq siiñun March-mi.</string>
	</dict>
	<key>25</key>
	<dict>
		<key>english</key>
		<string>They will have a dog race up to the Kobuk River.</string>
		<key>native</key>
		<string>Uniaġaqautraġniaqtut Kuuvaum Kaŋianun.</string>
	</dict>
	<key>26</key>
	<dict>
		<key>english</key>
		<string>They call it Kobuk 440.</string>
		<key>native</key>
		<string>Kobuk 440-mik atiqaqtuq.</string>
	</dict>
	<key>27</key>
	<dict>
		<key>english</key>
		<string>John Baker usually runs the dog races.</string>
		<key>native</key>
		<string>John Baker uniaġaqautraġuuruq.</string>
	</dict>
	<key>28</key>
	<dict>
		<key>english</key>
		<string>It's almost spring time around here.</string>
		<key>native</key>
		<string>Upinġaksraayasigaa manna.</string>
	</dict>
	<key>29</key>
	<dict>
		<key>english</key>
		<string>When it becomes warm, some of the people go camping.</string>
		<key>native</key>
		<string>Itraiqman iḷaŋich iñuich aullaaġuurut.</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>It's snowing.</string>
		<key>native</key>
		<string>Qanniksuq.</string>
	</dict>
	<key>30</key>
	<dict>
		<key>english</key>
		<string>They usually go camping on the ocean beaches.</string>
		<key>native</key>
		<string>Taġium siñaanun aullaaġuurut.</string>
	</dict>
	<key>31</key>
	<dict>
		<key>english</key>
		<string>Most of the people who have jobs hunt with boats from Kotzebue.</string>
		<key>native</key>
		<string>Iḷaŋich iñuich savaktuat aŋuniaġuurut umianik Qikiqtaġruŋmiñ.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>It's windy</string>
		<key>native</key>
		<string>Anuqłiqsuq.</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>It's sunny.</string>
		<key>native</key>
		<string>Siqiññiraaqtuq.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>It's cold.</string>
		<key>native</key>
		<string>Qiiyanaqtuq.</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>It's freezing cold.</string>
		<key>native</key>
		<string>Itraliqsuq.</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>It's warm, not cold.</string>
		<key>native</key>
		<string>Itraitchuq.</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>It's hot.</string>
		<key>native</key>
		<string>Uunaqtuq.</string>
	</dict>
</dict>
</plist>
