<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>Noorvik // I'm in Noorvik. // I'll go to Noorvik. // I'm coming from Noorvik. // I'm from Noorvik.</string>
		<key>native</key>
		<string>Nuurvik // Nuurviŋmiittuŋa. // Nuurviŋñiaqtuŋa. // Nuurviŋmiñ aggiqsuŋa. // Nuurviŋmiuŋuruŋa.</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>Buckland</string>
		<key>native</key>
		<string>Kaŋiq / Nunatchiaq</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>Kivalina</string>
		<key>native</key>
		<string>Kivaliñiq</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>Sheshaalik // My mother and I will go to Sheshaalik tomorrow.</string>
		<key>native</key>
		<string>Sisualik // Sisualiŋniaqtuguk aakagalu uvlaakun.</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>Point Hope // I arrived from Point Hope this morning.</string>
		<key>native</key>
		<string>Tikiġaq // Tikiġaġmiñ tikitchuŋa uvlaaq.</string>
	</dict>
	<key>14</key>
	<dict>
		<key>english</key>
		<string>Point Lay</string>
		<key>native</key>
		<string>Kali</string>
	</dict>
	<key>15</key>
	<dict>
		<key>english</key>
		<string>Wainwright</string>
		<key>native</key>
		<string>Ulġuniq</string>
	</dict>
	<key>16</key>
	<dict>
		<key>english</key>
		<string>Barrow / My daughter went to Barrow yesterday.</string>
		<key>native</key>
		<string>Utqiaġvik // Utqiaġviksuaq paniga ikpaksraq.</string>
	</dict>
	<key>17</key>
	<dict>
		<key>english</key>
		<string>Atkasook</string>
		<key>native</key>
		<string>Atqasuk</string>
	</dict>
	<key>18</key>
	<dict>
		<key>english</key>
		<string>Nuiqsut</string>
		<key>native</key>
		<string>Nuiqsat</string>
	</dict>
	<key>19</key>
	<dict>
		<key>english</key>
		<string>Barter Island/Kaktovik</string>
		<key>native</key>
		<string>Qaaktuġvik</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>Noatak // You're in Noatak. // You'll go to Noatak. // You're coming from Noatak. // You're from Noatak.</string>
		<key>native</key>
		<string>Nuataaq // Nuataamiittutin. // Nuataaġniaqtutin. // Nuataamiñ aggiqsutin. // Nuataaġmiuŋurutin.</string>
	</dict>
	<key>20</key>
	<dict>
		<key>english</key>
		<string>Anaktuvuk Pass</string>
		<key>native</key>
		<string>Naqsraq</string>
	</dict>
	<key>21</key>
	<dict>
		<key>english</key>
		<string>North Slope</string>
		<key>native</key>
		<string>Siḷaliñiq</string>
	</dict>
	<key>22</key>
	<dict>
		<key>english</key>
		<string>King Island</string>
		<key>native</key>
		<string>Ukiuvak</string>
	</dict>
	<key>23</key>
	<dict>
		<key>english</key>
		<string>Little Diomede Island</string>
		<key>native</key>
		<string>Iŋaliq</string>
	</dict>
	<key>24</key>
	<dict>
		<key>english</key>
		<string>Nome</string>
		<key>native</key>
		<string>Sitnasuaq</string>
	</dict>
	<key>25</key>
	<dict>
		<key>english</key>
		<string>Shishmaref</string>
		<key>native</key>
		<string>Qikiqtaq</string>
	</dict>
	<key>26</key>
	<dict>
		<key>english</key>
		<string>Koyuk</string>
		<key>native</key>
		<string>Kuuyuk</string>
	</dict>
	<key>27</key>
	<dict>
		<key>english</key>
		<string>Shaktoolik</string>
		<key>native</key>
		<string>Saqtuliq</string>
	</dict>
	<key>28</key>
	<dict>
		<key>english</key>
		<string>Unalakleet</string>
		<key>native</key>
		<string>Uŋalaqłiq</string>
	</dict>
	<key>29</key>
	<dict>
		<key>english</key>
		<string>Wales</string>
		<key>native</key>
		<string>Kiŋigin</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>Deering // He/she is in Deering. // He/she will go to Deering. // He/she is coming from Deering. // He/she is from Deering.</string>
		<key>native</key>
		<string>Ipnatchiaq // Ipnatchiamiittuq. // Ipnatchiaġruaqtuq. // Ipnatchiamiñ aggiqsuq. // Ipnatchiaġmiuŋuruq.</string>
	</dict>
	<key>30</key>
	<dict>
		<key>english</key>
		<string>White Mountain</string>
		<key>native</key>
		<string>Nasirvik</string>
	</dict>
	<key>31</key>
	<dict>
		<key>english</key>
		<string>Golovin</string>
		<key>native</key>
		<string>Siŋik</string>
	</dict>
	<key>32</key>
	<dict>
		<key>english</key>
		<string>Mary's Igloo</string>
		<key>native</key>
		<string>Qawiaraq</string>
	</dict>
	<key>33</key>
	<dict>
		<key>english</key>
		<string>Siberia or Siberian person/The Siberians came to dance.</string>
		<key>native</key>
		<string>Qutliq/Qutlich aggiqsut aġġityaqhutiŋ.</string>
	</dict>
	<key>34</key>
	<dict>
		<key>english</key>
		<string>Kobuk River</string>
		<key>native</key>
		<string>Kuuvak</string>
	</dict>
	<key>35</key>
	<dict>
		<key>english</key>
		<string>Yukon River</string>
		<key>native</key>
		<string>Kuukpak</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>Kotzebue</string>
		<key>native</key>
		<string>Qikiqtaġruk</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>Selawik</string>
		<key>native</key>
		<string>Akuliġaq / Siiḷvik</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>Kiana</string>
		<key>native</key>
		<string>Katyaaq</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>Ambler // Will you(2) go to Ambler?</string>
		<key>native</key>
		<string>Ivisaappaat // Ivisaappaaġniaqpisiik?</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>Shungnak</string>
		<key>native</key>
		<string>Isiŋnaq</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>Kobuk</string>
		<key>native</key>
		<string>Kuuvak/Laugviik</string>
	</dict>
</dict>
</plist>
