<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>What time is it?</string>
		<key>native</key>
		<string>Sassaq sumuiḷiva // Sassaq qanuq iḷiva?</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>I will come over when I'm done.</string>
		<key>native</key>
		<string>Taamuŋaġisiruŋa naatchiguma.</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>We will go to Larry's place at seven o'clock.</string>
		<key>native</key>
		<string>Larry-tkutnuŋniaqtugut seven o'clock-pan.</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>I will return to Fairbanks in the morning.</string>
		<key>native</key>
		<string>Uvlaami utiġniaqtuŋa Fairbanks-mun.</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>When will we eat?</string>
		<key>native</key>
		<string>Qakugun niġiñiaqpisa?</string>
	</dict>
	<key>14</key>
	<dict>
		<key>english</key>
		<string>There will be Eskimo games tonight.</string>
		<key>native</key>
		<string>Anaktaġruaqtut anaqapak.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>It's five o'clock. // It's past five o'clock.</string>
		<key>native</key>
		<string>Five o'clock-tuq. // Five o'clock qaaŋiġaa.</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>Time is really going fast.</string>
		<key>native</key>
		<string>Sukasiḷḷapiaqtuq pivik.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>Do you have a watch?</string>
		<key>native</key>
		<string>Siqiñġuraqaqpiich?</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>It's time for the meeting.</string>
		<key>native</key>
		<string>Katimanaqsiruq.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>What time does school start?</string>
		<key>native</key>
		<string>Sumuiḷipman aglagiaġuuvat?</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>It's time to go home.</string>
		<key>native</key>
		<string>Aiñaqsiruq. // Aiñaqsigaa.</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>It's almost time for geese to arrive.</string>
		<key>native</key>
		<string>Tiŋmiat aggiyasiaqsirut.</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>School is almost out.</string>
		<key>native</key>
		<string>Aglaŋaiyasirut.</string>
	</dict>
</dict>
</plist>
