<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>I'm leaving on Sunday.</string>
		<key>native</key>
		<string>Aullaġniaqtuŋa Savaŋḷigxru.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>Today is Sunday (Monday, Tuesday, Wednesday, Thursday, Friday, Saturday).</string>
		<key>native</key>
		<string>Uvlupak Savaitchugut (Savalliuqtugut, Ilaqatchiuqtugut, Qitchiurugut, Sisammiuqtugut, Tallimiuqtugut, Itchaksriuqtugut).</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>What is the date today?</string>
		<key>native</key>
		<string>Suŋŋuqpa uvlupak?</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>Today is March tenth.</string>
		<key>native</key>
		<string>Uvlupak March ten-ŋuqtuq.</string>
	</dict>
</dict>
</plist>
