<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>berry // The berries are really good. // Give me some berries.</string>
		<key>native</key>
		<string>asiaq // Asiat nakuullapiaqtut. // Asiaksriñŋa.</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>Eskimo ice cream // My mother makes Eskimo ice cream. // Do you like Eskimo ice cream?</string>
		<key>native</key>
		<string>akutuq // Akutchisuuruq aakaga. // Akutuqtutlaviich?</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>loaf of bread // I want to buy some loaves of bread. // Do you want some bread to eat?</string>
		<key>native</key>
		<string>qaqquq // Qaqqunik tauqsiġuktuŋa. // Qaqquqtuġukpiich?</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>stew // The stew is already salted. // I am making stew.</string>
		<key>native</key>
		<string>imiġauraq // Imiġauraq taġirrianiktuq. // Imiġauraliuqtuŋa.</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>pilot bread // Children like to eat pilot bread. // We eat pilot bread with stew.</string>
		<key>native</key>
		<string>qaqqulaaq // Iḷiḷgaat qaqqulaaqtuġuurut. // Qaqqulaaqtuġuurugut imiġauraqtuqapta.</string>
	</dict>
	<key>14</key>
	<dict>
		<key>english</key>
		<string>dried fish // We eat dried fish with dinner. // We make dried fish in summer.</string>
		<key>native</key>
		<string>paniqtaq // Paniqtaqtuġuurugut nullautchiqapta. // Paniqsisuurugut upinġaami.</string>
	</dict>
	<key>15</key>
	<dict>
		<key>english</key>
		<string>cooked partially dried salmon // I eat half-dried salmon with seal oil. // Half-dried salmon are good as leftovers.</string>
		<key>native</key>
		<string>igamaaqłuk // Igamaaqłuktuġuuruŋa uqsrumik. // Igamaaqłuich igaaġruaġiksut.</string>
	</dict>
	<key>16</key>
	<dict>
		<key>english</key>
		<string>coffee // My mother makes coffee in the morning. // Would you like coffee?</string>
		<key>native</key>
		<string>kuukpiaq // Aanaga kuukpirriuġuuruq uvlaami. // Kuukpiaqtuġukpiich?</string>
	</dict>
	<key>17</key>
	<dict>
		<key>english</key>
		<string>tea // This tea is brewed strong. // I would like to drink some tea.</string>
		<key>native</key>
		<string>saigu // Saigu una isuqtuq. // Saigumik yuuqqaġuktuŋa.</string>
	</dict>
	<key>18</key>
	<dict>
		<key>english</key>
		<string>hot drink // Would you like a hot drink? // The men want a hot drink.</string>
		<key>native</key>
		<string>yuuqqaq // Yuuqqaġukpiich? // Aŋutit yuuqqaġuktut.</string>
	</dict>
	<key>19</key>
	<dict>
		<key>english</key>
		<string>water // The water is cold. // Don't spill the water.</string>
		<key>native</key>
		<string>imiq // Imiq nigliñaqtuq. // Imiq kuviñagu.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>salmonberry // The salmonberries are plentiful. // I want to go pick salmonberries.</string>
		<key>native</key>
		<string>aqpik // Aqpiich iñugiaktut. // Aqpiŋñiaġuktuŋa.</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>blueberry // Blueberries are blue. // I want to eat blueberries.</string>
		<key>native</key>
		<string>asiavik // Asiaviich uquaqtaaŋurut. // Asiaviksuġuktuŋa.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>blackberry // Blackberries are dark in color. // Blackberries are good in Eskimo ice cream.</string>
		<key>native</key>
		<string>paunġaq // Paunġat taaqtaaŋurut. // Paunġat nakuurut akutumi.</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>low-bush cranberry // Cranberries are sour.</string>
		<key>native</key>
		<string>kipmiŋñaq // Kipmiŋñat siiġñaqtut.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>nagoonberry // Nagoonberries are scarce.</string>
		<key>native</key>
		<string>aqpiŋñaq // Aqpiŋñat iñugiaŋitchut.</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>dried fruit // Dried fruit can be cooked.</string>
		<key>native</key>
		<string>siutiŋŋuaq // Siutiŋŋuat iganaqtut.</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>raisin // I eat raisins.</string>
		<key>native</key>
		<string>asiatchauraq // Asiatchauraqtuġuuruŋa.</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>piece of large fruit, like apple, orange // Apples, oranges don't grow in Alaska.</string>
		<key>native</key>
		<string>asiaqpak // Asiaqpaich Alaska-mi nausuitchut.</string>
	</dict>
</dict>
</plist>
