<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>table // Wipe the table.</string>
		<key>native</key>
		<string>tiivlu, niġġivik // Allaqtiġlich tiivlut.</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>pot // I will make soup in the pot.</string>
		<key>native</key>
		<string>utkusik // Utkusiŋmun imiġauraliuġniaqtuŋa.</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>mop // The mop is hanging up.</string>
		<key>native</key>
		<string>tanirrun // Tanirrutit niviŋarut.</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>broom // This broom is new.</string>
		<key>native</key>
		<string>silakuutit // Silakuutit ukua nutaaŋurut.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>coffee maker // Is there coffee still in the coffee maker?</string>
		<key>native</key>
		<string>kuukpialiuġvik // Kuukpialiuġvik imaqaqpa suli?</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>bed // Move the bed. / Make the bed for them.</string>
		<key>native</key>
		<string>siñigviich // Siñigviich nuullich. / Illiuġlugich.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>stove // The stove is hot.</string>
		<key>native</key>
		<string>ikniġvik // Ikniġvik uunaqtuq.</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>light // Turn the light on. / Turn the lights off.</string>
		<key>native</key>
		<string>naniq // Ikirruŋ naniq.  / Qamillich nannich.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>semi-circular knife, ulu // Give me the ulu.</string>
		<key>native</key>
		<string>ulu // Ulu qairruŋ.</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>window // The window is broken.</string>
		<key>native</key>
		<string>igaliq // Igaliq piiyaqtuq.</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>curtain or shade // Draw the curtain [over the window].</string>
		<key>native</key>
		<string>talukuyaaq // Talukuyaaġli igaliq.</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>door // Close the door. / The door is open.</string>
		<key>native</key>
		<string>talu // talluuŋ / Taluitchuq.</string>
	</dict>
</dict>
</plist>
