<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>What do you want to eat?</string>
		<key>native</key>
		<string>Sumik niġisukpich?</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>It would be very good indeed to have some berries.</string>
		<key>native</key>
		<string>Asiaqtullaktuni nakuunayaqtuq.</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>Call me when you plan to come here sometime.</string>
		<key>native</key>
		<string>Tuqłuġumagikma mauŋaaqsiguvich iḷaatni.</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>For your information, I will come here again next year.</string>
		<key>native</key>
		<string>Samma mauŋaġnialgitchuŋa ukiuġun.</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>Good, we will eat together again then.</string>
		<key>native</key>
		<string>Aarigaa, niġiñiaġisiḷgiññiqsugut.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>I haven't eaten dinner yet.</string>
		<key>native</key>
		<string>Nullautchiŋaitchuŋa uvva.</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>Then we will eat.</string>
		<key>native</key>
		<string>Niġiñiaġisiñiqsugut.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>Thank you, I haven't eaten Eskimo food in a long time.</string>
		<key>native</key>
		<string>Taikuu, iŋilġaan niqipiaqtuŋitchuŋa.</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>My son here will prepare [and cut] some frozen fish and meat.</string>
		<key>native</key>
		<string>Qurriiñiaqtuq uvva iġniġa.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>When you don't have any Eskimo food, you really crave it.</string>
		<key>native</key>
		<string>Niqipiaŋitchuni niġisuŋnaqtuq.</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>Then I will fix a sack [of food] for you.</string>
		<key>native</key>
		<string>Puuqtuiŋurallakkisiñiqsuŋa.</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>It's good to have close friends.</string>
		<key>native</key>
		<string>Iḷannaqaqtuni tavra nakuullapiaqtuq.</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>Do you want some berries?</string>
		<key>native</key>
		<string>Asiaqtuġukpich?</string>
	</dict>
</dict>
</plist>
