<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>How are you?</string>
		<key>native</key>
		<string>Qanuq itpich?</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>Are you going hunting?</string>
		<key>native</key>
		<string>Aŋuniaġiaġniaqpiich?</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>My son is going squirrel hunting tomorrow.</string>
		<key>native</key>
		<string>Iġñiġa siksrigiaġniaqtuq uvlaakun.</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>He also wants a raincoat.</string>
		<key>native</key>
		<string>Sialuksiutiqaġukmiuq.</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>They are in there with the clothing.</string>
		<key>native</key>
		<string>Kivva, atnuġaani ittut.</string>
	</dict>
	<key>14</key>
	<dict>
		<key>english</key>
		<string>How about boots?</string>
		<key>native</key>
		<string>Sappakich aasiiñ?</string>
	</dict>
	<key>15</key>
	<dict>
		<key>english</key>
		<string>There are none. They haven't come in yet.</string>
		<key>native</key>
		<string>Piitchuq, aggiŋaitchut suli.</string>
	</dict>
	<key>16</key>
	<dict>
		<key>english</key>
		<string>What about rope for boats?</string>
		<key>native</key>
		<string>Akłunaamiglu umianun?</string>
	</dict>
	<key>17</key>
	<dict>
		<key>english</key>
		<string>Here is some strong rope which has just arrived.</string>
		<key>native</key>
		<string>Marra saŋŋiruat akłunaat aggiqpaalluktuat.</string>
	</dict>
	<key>18</key>
	<dict>
		<key>english</key>
		<string>How much do you want?</string>
		<key>native</key>
		<string>Qanutun pisukpich?</string>
	</dict>
	<key>19</key>
	<dict>
		<key>english</key>
		<string>About twenty feet.</string>
		<key>native</key>
		<string>Iñuiññatun taktilaamik.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>You finally came, and what might you be here for?</string>
		<key>native</key>
		<string>Tamauŋaġataġniqsutin, qanuqaviḷḷi?</string>
	</dict>
	<key>20</key>
	<dict>
		<key>english</key>
		<string>Where will you(3+) be going?</string>
		<key>native</key>
		<string>Napmun aullaġniaqpisi?</string>
	</dict>
	<key>21</key>
	<dict>
		<key>english</key>
		<string>There are lots of squirrels at Salluq.</string>
		<key>native</key>
		<string>Salluġmi siksriguruq.</string>
	</dict>
	<key>22</key>
	<dict>
		<key>english</key>
		<string>Who made that parka? It has nice trim.</string>
		<key>native</key>
		<string>Kia atigiliaŋa taamna? Qupalluataqaġniqsuq.</string>
	</dict>
	<key>23</key>
	<dict>
		<key>english</key>
		<string>I'd like to buy it for my wife. It's her birthday tomorrow.</string>
		<key>native</key>
		<string>Tauqsiġḷagu nuliamnun. Anniviḷiñiaqtuq uvlaakun.</string>
	</dict>
	<key>24</key>
	<dict>
		<key>english</key>
		<string>Do you know my grandmother Suuyuk? She's my neighbor. She's a good seamstress.</string>
		<key>native</key>
		<string>Iḷisimaviuŋ aanaga, Suuyuk? Siḷalliġigiga. Killaiyalguruq.</string>
	</dict>
	<key>25</key>
	<dict>
		<key>english</key>
		<string>Let me pay now. What is the total cost?</string>
		<key>native</key>
		<string>Akiḷiġlagich. Qanutun akiqaqpat?</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>I'm looking for some small nails.</string>
		<key>native</key>
		<string>Kikiaguranik pakaktuŋa.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>What are you making again?</string>
		<key>native</key>
		<string>Sulilgitpich?</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>I want to build a grub box.</string>
		<key>native</key>
		<string>Tamaani, grub box-aliuġukłuŋa.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>Over there by the door [are nails].</string>
		<key>native</key>
		<string>Ikka, talum pianiittut.</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>And do you have any hinges?</string>
		<key>native</key>
		<string>Aasiiñ, aġimñiqaqpa?</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>They're across there, behind the brooms.</string>
		<key>native</key>
		<string>Ikka, silakuutit tunuatni ittut.</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>Do you have cartridges for a twenty-two rifle?</string>
		<key>native</key>
		<string>Qaġruqaqpa twenty-two-mun?</string>
	</dict>
</dict>
</plist>
