<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>In the spring, we hunt for wild eggs.</string>
		<key>native</key>
		<string>Upinġaksrami manniŋñiaġuurugut.</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>I would like to go along some time.</string>
		<key>native</key>
		<string>Iḷaatni maliguktuŋa.</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>Yes, but I will have to watch you closely. It's dangerous when you don't know [the place].</string>
		<key>native</key>
		<string>Ii, aglaan qaunaginiaġikpiñ. Nuyuaġnaqtuq naluruni.</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>And there is white gravel on the mainland beach.</string>
		<key>native</key>
		<string>Suli, kitiqaqtuq nunapiami taġium siñani.</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>What is white gravel?</string>
		<key>native</key>
		<string>Sunauna kitik?</string>
	</dict>
	<key>14</key>
	<dict>
		<key>english</key>
		<string>It's white and they use it when they take the fur off the ugruk hide when making hard soles for mukluks.</string>
		<key>native</key>
		<string>Qatiqtuq, atuġuugaat mitquiqsiruni atuŋaŋnun.</string>
	</dict>
	<key>15</key>
	<dict>
		<key>english</key>
		<string>How do they use it?</string>
		<key>native</key>
		<string>Qanuq atuġuuvatruŋ?</string>
	</dict>
	<key>16</key>
	<dict>
		<key>english</key>
		<string>First they put it on the fur side [of the mukluk bottom] and then they scrape off the fur.</string>
		<key>native</key>
		<string>Mitquanun piqqaaqługu aasiiñ piiyaqługu mitquq.</string>
	</dict>
	<key>17</key>
	<dict>
		<key>english</key>
		<string>That's great, I've learned something more.</string>
		<key>native</key>
		<string>Aarigaa, iḷitchivsaalgitchuŋauvva.</string>
	</dict>
	<key>18</key>
	<dict>
		<key>english</key>
		<string>The eggs must be boiled [before they are eaten].</string>
		<key>native</key>
		<string>Iganaqtut manniich qalatitlugich.</string>
	</dict>
	<key>19</key>
	<dict>
		<key>english</key>
		<string>Some people store them in seal oil in pokes.</string>
		<key>native</key>
		<string>Iḷaŋich uqsrumun puunun iḷisuugaich.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>Where do you go to hunt eggs?</string>
		<key>native</key>
		<string>Napmun mannigiaġuuvich?</string>
	</dict>
	<key>20</key>
	<dict>
		<key>english</key>
		<string>It's good to eat eggs.</string>
		<key>native</key>
		<string>Manniksuqtuni nakuuruq.</string>
	</dict>
	<key>21</key>
	<dict>
		<key>english</key>
		<string>Seagull eggs are large.</string>
		<key>native</key>
		<string>Nauyat manniŋich aŋirut.</string>
	</dict>
	<key>22</key>
	<dict>
		<key>english</key>
		<string>You can bake a cake using only one egg.</string>
		<key>native</key>
		<string>Atautchiḷhiñamik manniŋmik cay-ḷiuġnaqtuq.</string>
	</dict>
	<key>23</key>
	<dict>
		<key>english</key>
		<string>It makes it [the cake] rise a lot.</string>
		<key>native</key>
		<string>Puvsakpauraġuuruq.</string>
	</dict>
	<key>24</key>
	<dict>
		<key>english</key>
		<string>It's way better than with store-bought eggs.</string>
		<key>native</key>
		<string>Mannipianiñ unnii nakuutluktuq.</string>
	</dict>
	<key>25</key>
	<dict>
		<key>english</key>
		<string>Wow, they sure eat good food.</string>
		<key>native</key>
		<string>Yoi, niġiḷḷuaqtuat asu.</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>My spouse and I are going to the Chamisso Islands.</string>
		<key>native</key>
		<string>Tuvaaqatigalu manniagiaġniaqtuguk Chamisso Islands-nun.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>How do they hunt eggs? Do you have to climb up?</string>
		<key>native</key>
		<string>Qanuq manniŋñiaġuuvat, mayuġnaqpaa?</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>Yes, you have to climb and sometimes it gets slippery when it rains.</string>
		<key>native</key>
		<string>Ii, mayuġnaqtuq, suli iḷaatni qauyaġnaqsisuuruq sialukman.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>What kinds of eggs are there?</string>
		<key>native</key>
		<string>Qanutchiñik manniqaqpa?</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>Murres and lesser gulls [smaller than seagulls] nest in the cliffs there.</string>
		<key>native</key>
		<string>Akpaaluurallu, nauyatchiallu ivasuurut ipnani tavrani.</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>What else is on the island?</string>
		<key>native</key>
		<string>Suqaqpa atlamik qikiqtami?</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>There is sea lovage and wild celery on top of the island; they grow tall.</string>
		<key>native</key>
		<string>Tukkaayuqaqtuq, suli ikuusuqaqtuq qaaŋani; nauqpaguurut.</string>
	</dict>
</dict>
</plist>
