<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>Don't do it. Leave it alone. Don't bother him/her [to one person].</string>
		<key>native</key>
		<string>Piñagu!</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>Wow!</string>
		<key>native</key>
		<string>Yuay!</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>Poor thing!</string>
		<key>native</key>
		<string>Nakłiiŋ!</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>It's foul smelling! It stinks!</string>
		<key>native</key>
		<string>Aaqqaa!</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>So small!</string>
		<key>native</key>
		<string>Uuttukuu.</string>
	</dict>
	<key>14</key>
	<dict>
		<key>english</key>
		<string>It's very cold! I'm cold!</string>
		<key>native</key>
		<string>Alappaa.</string>
	</dict>
	<key>15</key>
	<dict>
		<key>english</key>
		<string>Scary! Creepy! Danger!</string>
		<key>native</key>
		<string>Irigii!</string>
	</dict>
	<key>16</key>
	<dict>
		<key>english</key>
		<string>Wow! It's fun!</string>
		<key>native</key>
		<string>Allai! // Allais!</string>
	</dict>
	<key>17</key>
	<dict>
		<key>english</key>
		<string>It's good!</string>
		<key>native</key>
		<string>Nakkuu!</string>
	</dict>
	<key>18</key>
	<dict>
		<key>english</key>
		<string>It's warm! [usually of a building or clothing].</string>
		<key>native</key>
		<string>Uqquu!</string>
	</dict>
	<key>19</key>
	<dict>
		<key>english</key>
		<string>Nope!</string>
		<key>native</key>
		<string>Nia'!</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>So many! It's a lot!</string>
		<key>native</key>
		<string>Apai!</string>
	</dict>
	<key>20</key>
	<dict>
		<key>english</key>
		<string>How nasty, ugly, bad, wrong! [expression of dislike, disapproval].</string>
		<key>native</key>
		<string>Iiiii!</string>
	</dict>
	<key>21</key>
	<dict>
		<key>english</key>
		<string>How cute!</string>
		<key>native</key>
		<string>Anaŋŋaa!</string>
	</dict>
	<key>22</key>
	<dict>
		<key>english</key>
		<string>This one too.</string>
		<key>native</key>
		<string>Unalu.</string>
	</dict>
	<key>23</key>
	<dict>
		<key>english</key>
		<string>This is no good!</string>
		<key>native</key>
		<string>Qanuq una!</string>
	</dict>
	<key>24</key>
	<dict>
		<key>english</key>
		<string>What in the world is he/she doing?</string>
		<key>native</key>
		<string>Suvikpa una!</string>
	</dict>
	<key>25</key>
	<dict>
		<key>english</key>
		<string>So much! Too much!</string>
		<key>native</key>
		<string>Akkaa!</string>
	</dict>
	<key>26</key>
	<dict>
		<key>english</key>
		<string>It's messy, dirty!</string>
		<key>native</key>
		<string>Ikkii!</string>
	</dict>
	<key>27</key>
	<dict>
		<key>english</key>
		<string>Be quiet!</string>
		<key>native</key>
		<string>Ataa!</string>
	</dict>
	<key>28</key>
	<dict>
		<key>english</key>
		<string>I don't know.</string>
		<key>native</key>
		<string>Amay!</string>
	</dict>
	<key>29</key>
	<dict>
		<key>english</key>
		<string>Isn't that right?</string>
		<key>native</key>
		<string>Amii?</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>Good! Really good!</string>
		<key>native</key>
		<string>Aarigaa!</string>
	</dict>
	<key>30</key>
	<dict>
		<key>english</key>
		<string>What?</string>
		<key>native</key>
		<string>Ay?</string>
	</dict>
	<key>31</key>
	<dict>
		<key>english</key>
		<string>Look! Look right here! Look over there!</string>
		<key>native</key>
		<string>Ataŋii!</string>
	</dict>
	<key>32</key>
	<dict>
		<key>english</key>
		<string>Listen!</string>
		<key>native</key>
		<string>A!</string>
	</dict>
	<key>33</key>
	<dict>
		<key>english</key>
		<string>Listen to that noise [of something unseen].</string>
		<key>native</key>
		<string>Imma!</string>
	</dict>
	<key>34</key>
	<dict>
		<key>english</key>
		<string>How annoying! What a pain!</string>
		<key>native</key>
		<string>Uumiñaq!</string>
	</dict>
	<key>35</key>
	<dict>
		<key>english</key>
		<string>It's too big, too much! He/she is very big!</string>
		<key>native</key>
		<string>Apas!</string>
	</dict>
	<key>36</key>
	<dict>
		<key>english</key>
		<string>Serves you right!</string>
		<key>native</key>
		<string>Taikuq!</string>
	</dict>
	<key>37</key>
	<dict>
		<key>english</key>
		<string>Thank you very much.</string>
		<key>native</key>
		<string>Taikuullapiaq.</string>
	</dict>
	<key>38</key>
	<dict>
		<key>english</key>
		<string>Really?</string>
		<key>native</key>
		<string>Ayñ?</string>
	</dict>
	<key>39</key>
	<dict>
		<key>english</key>
		<string>It's been a long time.</string>
		<key>native</key>
		<string>Qaŋa tai!</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>I don't want to! Ouch! That hurts! That's too bad!</string>
		<key>native</key>
		<string>Arii!</string>
	</dict>
	<key>40</key>
	<dict>
		<key>english</key>
		<string>Almost!</string>
		<key>native</key>
		<string>Ayas! // Atchas! // Atchay!</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>Hurry up!</string>
		<key>native</key>
		<string>Qilamik!</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>Too bad! What a shame! It's no good!</string>
		<key>native</key>
		<string>Aḷakkaa!</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>Watch out! Danger! It's scary [refers usually to physical danger].</string>
		<key>native</key>
		<string>Aatchikaaŋ!</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>Stop it! [expression of annoyance].</string>
		<key>native</key>
		<string>Araa!</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>Good job!</string>
		<key>native</key>
		<string>Yatchii!</string>
	</dict>
</dict>
</plist>
