<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>How are you?</string>
		<key>native</key>
		<string>Qanuq itpich?</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>Is Nauyaq here? // She's not here.</string>
		<key>native</key>
		<string>Nauyaq maaniitpa? // Maaniinŋitchuq.</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>See you tomorrow again. // See you later.</string>
		<key>native</key>
		<string>Uvlaakunlu. // Maatnugunlu.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>How are you all/you(3+)?</string>
		<key>native</key>
		<string>Qanuq itpisi?</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>What are you doing? How are you doing?</string>
		<key>native</key>
		<string>Suvich?</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>I'm fine.</string>
		<key>native</key>
		<string>Nakuuruŋa.</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>We are fine.</string>
		<key>native</key>
		<string>Nakuurugut.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>How is your wife/husband? He/she is fine.</string>
		<key>native</key>
		<string>Qanuq itpa nulian/uiñ? Nakuuruq.</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>And your children, how about them? // They've been sick.</string>
		<key>native</key>
		<string>Qitunġatinli? // Atniġñaqtut.</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>How are your relatives? // They're fine.</string>
		<key>native</key>
		<string>Qanuq itpat ŋatin? // Nakuurut.</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>Why did you come here? // For no particular reason.</string>
		<key>native</key>
		<string>Supman mauŋaqpich? // Tamaani.</string>
	</dict>
</dict>
</plist>
