<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>english</key>
		<string>Come in [to one person]. // Come in [to many people].</string>
		<key>native</key>
		<string>Isiġñ. // Isiġitchi.</string>
	</dict>
	<key>10</key>
	<dict>
		<key>english</key>
		<string>Don't eat [to one person]. // Don't eat [to many people].</string>
		<key>native</key>
		<string>Niġiñak. // Niġiñasi.</string>
	</dict>
	<key>11</key>
	<dict>
		<key>english</key>
		<string>Drink it [to one person]. // Drink it [to many people].</string>
		<key>native</key>
		<string>Imiġuŋ. // Imiqsiuŋ.</string>
	</dict>
	<key>12</key>
	<dict>
		<key>english</key>
		<string>Throw it out [to one person]. // Throw them out [to many people].</string>
		<key>native</key>
		<string>Igirruŋ. // Igitchigiŋ.</string>
	</dict>
	<key>13</key>
	<dict>
		<key>english</key>
		<string>Open the door [to one person].</string>
		<key>native</key>
		<string>Taluiġuŋ.</string>
	</dict>
	<key>14</key>
	<dict>
		<key>english</key>
		<string>Close the door [to one person].</string>
		<key>native</key>
		<string>Talluuŋ.</string>
	</dict>
	<key>15</key>
	<dict>
		<key>english</key>
		<string>Turn on the light [to one person].</string>
		<key>native</key>
		<string>Ikirruŋ [naniq].</string>
	</dict>
	<key>16</key>
	<dict>
		<key>english</key>
		<string>Turn out the light [to one person].</string>
		<key>native</key>
		<string>Qamirruŋ [naniq].</string>
	</dict>
	<key>17</key>
	<dict>
		<key>english</key>
		<string>Get it out of the way [to one person]. // Get it out of the way [to many people].</string>
		<key>native</key>
		<string>Piiġuŋ. // Piiqsiuŋ.</string>
	</dict>
	<key>18</key>
	<dict>
		<key>english</key>
		<string>Get out of the way, move [to one person]. // Get out of the way, move [to many people].</string>
		<key>native</key>
		<string>Piiġiñ. // Piiġitchi.</string>
	</dict>
	<key>19</key>
	<dict>
		<key>english</key>
		<string>Take off your parka, coat [to one person]. // Take off your parka, coat [to many people].</string>
		<key>native</key>
		<string>Mattaġiñ. // Mattaġitchi.</string>
	</dict>
	<key>2</key>
	<dict>
		<key>english</key>
		<string>Go out [to one person]. // Go out [to many people].</string>
		<key>native</key>
		<string>Anniñ. // Anisitchi.</string>
	</dict>
	<key>20</key>
	<dict>
		<key>english</key>
		<string>Take off your boots [to one person]. // Take off your boots [to many people].</string>
		<key>native</key>
		<string>Kamiḷḷaġiñ. // Kamiḷḷaġitchi.</string>
	</dict>
	<key>21</key>
	<dict>
		<key>english</key>
		<string>Sit down [to one person]. // Sit down [to many people].</string>
		<key>native</key>
		<string>Aquvittin. // Aquvittitchi.</string>
	</dict>
	<key>22</key>
	<dict>
		<key>english</key>
		<string>Wait for me [to one person]. // Wait for me [to many people].</string>
		<key>native</key>
		<string>Utaqqiŋŋa. // Utaqqisitŋa.</string>
	</dict>
	<key>23</key>
	<dict>
		<key>english</key>
		<string>Come here [to one person]. // Come here [to many people].</string>
		<key>native</key>
		<string>Mauŋaġiñ. // Mauŋaġitchi.</string>
	</dict>
	<key>24</key>
	<dict>
		<key>english</key>
		<string>Get up [to one person]. // Get up [to many people].</string>
		<key>native</key>
		<string>Makittin. // Makittitchi.</string>
	</dict>
	<key>25</key>
	<dict>
		<key>english</key>
		<string>Go to bed [to one person]. // Go to bed [to many people].</string>
		<key>native</key>
		<string>Iŋŋaqtaaġiñ. // Iŋŋaqtaaġitchi.</string>
	</dict>
	<key>26</key>
	<dict>
		<key>english</key>
		<string>Go away [to one person]. // Go away [to many people].</string>
		<key>native</key>
		<string>Aullaġiñ. // Aullaġitchi.</string>
	</dict>
	<key>27</key>
	<dict>
		<key>english</key>
		<string>Don't touch it [to one person]. // Don't touch it [to many people].</string>
		<key>native</key>
		<string>Aksikñagu. // Aksikñasiuŋ.</string>
	</dict>
	<key>28</key>
	<dict>
		<key>english</key>
		<string>Come again [to one person]. // Come again [to many people].</string>
		<key>native</key>
		<string>Aggitqikkumautin. // Aggitqikkumausi.</string>
	</dict>
	<key>29</key>
	<dict>
		<key>english</key>
		<string>Don't forget [to one person]. // Don't forget [to many people].</string>
		<key>native</key>
		<string>Piiguqnak. // Piiguqnasi.</string>
	</dict>
	<key>3</key>
	<dict>
		<key>english</key>
		<string>Come with me [to one person]. // Come with me [to many people].</string>
		<key>native</key>
		<string>Maliŋŋa. // Maliksitŋa.</string>
	</dict>
	<key>30</key>
	<dict>
		<key>english</key>
		<string>Don't forget it [to one person]. // Don't forget it [to many people].</string>
		<key>native</key>
		<string>Piiguqnagu. // Piiguqnasiuŋ.</string>
	</dict>
	<key>31</key>
	<dict>
		<key>english</key>
		<string>Don't do it [to one person].</string>
		<key>native</key>
		<string>Piñagu.</string>
	</dict>
	<key>32</key>
	<dict>
		<key>english</key>
		<string>Wake up [to one person]. // Wake up [to many people].</string>
		<key>native</key>
		<string>Itiġiñ. // ltiġitchi.</string>
	</dict>
	<key>33</key>
	<dict>
		<key>english</key>
		<string>Move [to one person]. // Move [to many people].</string>
		<key>native</key>
		<string>Nuuttin. // Nuuttitchi.</string>
	</dict>
	<key>34</key>
	<dict>
		<key>english</key>
		<string>Please say it again [to one person].</string>
		<key>native</key>
		<string>Taitqiḷḷaguŋ.</string>
	</dict>
	<key>35</key>
	<dict>
		<key>english</key>
		<string>Speak slowly [to one person].</string>
		<key>native</key>
		<string>Sukaiḷiḷutin uqagiñ.</string>
	</dict>
	<key>36</key>
	<dict>
		<key>english</key>
		<string>Don't get into things. Don't dig around in things.</string>
		<key>native</key>
		<string>Pakaknak. // Pakaknasi.</string>
	</dict>
	<key>4</key>
	<dict>
		<key>english</key>
		<string>Help me [to one person]. // Help me [to many people].</string>
		<key>native</key>
		<string>Ikayuŋŋa. // Ikayuqsitŋa.</string>
	</dict>
	<key>5</key>
	<dict>
		<key>english</key>
		<string>Take it out [to one person]. // Take it out [to many people].</string>
		<key>native</key>
		<string>Anirruŋ. // Anitchiuŋ.</string>
	</dict>
	<key>6</key>
	<dict>
		<key>english</key>
		<string>Take it, pick it up [to one person]. // Take it, pick it up [to many people].</string>
		<key>native</key>
		<string>Tigguuŋ. // Tigusiuŋ.</string>
	</dict>
	<key>7</key>
	<dict>
		<key>english</key>
		<string>Give it here [to one person]. // Give them here [to one person].</string>
		<key>native</key>
		<string>Qairruŋ. // Qaitkich.</string>
	</dict>
	<key>8</key>
	<dict>
		<key>english</key>
		<string>Eat [to one person]. // Eat [to many people].</string>
		<key>native</key>
		<string>Niġġiiñ. // Niġisitchi.</string>
	</dict>
	<key>9</key>
	<dict>
		<key>english</key>
		<string>Eat it [to one person]. // Eat it [to many people].</string>
		<key>native</key>
		<string>Niġġiuŋ. // Niġisiuŋ.</string>
	</dict>
</dict>
</plist>
